/*css for fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sniglet&family=Sora&display=swap');
.roboto {
    font-family: 'Roboto', sans-serif;
}

.sniglet {
    font-family: 'Sniglet', cursive;
}

.sora {
    font-family: 'Sora', sans-serif;
}

.mainText{ 
    font-family: 'Sora', sans-serif;
    font-size: 250%;
    text-align: center;
}

/*css for layout/flexbox*/

html, body {
    height: 100%;
    min-height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.mainarea {
    background-color: #D4ECEE;
    height: 100vh;
    min-height: 100vh;
    width: 99.8vw;
    min-width: 98vw;
    display: flex;
    justify-content: flex-start;
}

.navbarleft {
    background-color: green;
    width: 10vw;
    height: 100vh;
    border-right: 0.2vw solid black;

}

.maincontentsection {
    width: 70vw;
    height: 100vh;
}

/*css for right area*/

.rightarea {
    background-color: #8FD6A3;
    width: 21.3vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/rightareabackground.PNG);
    background-repeat: no-repeat;
    border-left: 0.2vw solid black;
}

.elearninglogo {
    background-color: #346B31;
    height: 10vh;
    width: 20vw;
    border: 1vh solid #97883A;
    position: relative;
    max-width: inherit;
    font-size: 250%;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-top: 3vh;
}

/*container to hold fact of the day*/

.factofthedaycontainer {
    background-color: #346B31;
    height: 20vh;
    width: 20vw;
    border: 1vh solid #97883A;
    position: relative;
    max-width: inherit;
    font-size: 50px;
    text-align: center;
    color: white;
    vertical-align: middle;
    bottom: 0vw;
    position: absolute;
    font-size: 200%;

}

/*container to hold tiles*/

.link-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*container for individual tiles*/

.linkcontainer-link-container {
    height: 20vh;
    width: 10vw;
}

/*classes for link tile backgrounds*/

.homelink {
    background-image: url("../images/homepage-icon.PNG");
    background-size: cover;
    background-color: #F14141;
}

.learningzone-icon {
    background-image: url("../images/learningzone-icon.PNG");
    background-size: cover;
    background-color: #54E17C;
}

.symbolgame-icon {
    background-image: url("../images/symbolgame-icon.PNG");
    background-size: cover;
    background-color: #5663DA;
}

.numbergame-icon {
    background-image: url("../images/numbergame-icon.PNG");
    background-size: cover;
    background-color: #54E17C;
}

.helppage-icon {
    background-image: url("../images/helppage-icon.PNG");
    background-size: cover;
    background-color: #54E17C;
}